.button{
    background-color: #ffd679;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ffd679; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border:2px solid #ffd679;
    transition-duration: .3s;
}

.deleteButton{
    background-color: black;
    color:  #ffd679; 
    border-radius: 30px;
    padding: 7px;
}
.deleteButton:hover{
    background-color: #ffd679;
    border-color: black;
    color: black;
    cursor: pointer;
    transition-duration: .3s;
}