.imgSize{
    width: 70px; 
    height: auto; 
    align-content: center;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}
.nameRow{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.registerMessage{
    margin-top: 40px;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-right: 170px;
}

.BBMessage{
    margin-bottom: 5px;
    font-size: 20px;
}

.center{
    text-align: center;
    margin-top:20px;
    font-weight: 600;
}

.signInInput-reg{
    width: 170px; 
    height: 40px;
    padding: 12px; 
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 1px black;
    border-color: #ffd679;
    border-radius: 3px !important;
    border-width: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 50px !important;
    margin-right: 10px !important;
    margin-top: 0px !important;
  }

.signInInputLN-reg{
    width: 170px; 
    height: 40px;
    padding: 12px; 
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 1px black;
    border-color: #ffd679;
    border-radius: 3px  !important;
    border-width: 1px;
    padding-bottom: 20px;
    margin-right: 55px !important;
    margin-top: 0px !important;
    margin-left: 10px !important;
}

.signInPassword{
    width: 170px; 
    height: 40px;
    padding: 12px; 
    margin-bottom: 15px; 
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 1px black;
    border-color: #ffd679;
    border-radius: 3px;
    border-width: 1px;
    padding-bottom: 20px;
    margin-right: 20px;
}

.signInPasswordCPW{
    width: 170px; 
    height: 40px;
    padding: 12px; 
    margin-bottom: 15px; 
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 1px black;
    border-color: #ffd679;
    border-radius: 3px;
    border-width: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.signInEmail{
    width: 360px; 
    height: 40px;
    padding: 12px; 
    margin-bottom: 30px; 
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 1px black;
    border-color: #ffd679;
    border-radius: 3px;
    border-width: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.space{
    margin-top: 20px;
    margin-bottom: 10px;
}

.labelFN{
    font-family: 'Poppins', sans-serif;
    margin-right: 103px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
}
.labelLN{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-right: 83px;
}

.labelEMAIL{
    font-family: 'Poppins', sans-serif;
    margin-right: 315px;
    font-weight: 400;
    margin-bottom: 20px;
}
.labelPW{
    font-family: 'Poppins', sans-serif;
    margin-right: 110px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 30px;
}
.labelCPW{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-right: 23px;
}

.errorMSG{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
    margin-top: 10px;

}
.center-message{
    text-align: center;
    margin-bottom: 200px;
    font-weight: 600;
}
@media (max-width: 768px){
    .imgSize{
        width: 70px; 
        height: auto; 
        align-content: center;
        display: block;
        margin: 0 auto;
        padding-top: 30px;
        margin-top: 50px;
    }
    .signInInput-reg{
        width: 170px !important; 
        height: 40px;
        margin-bottom: 15px; 
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 0 0 1px black;
        border-color: #ffd679;
        border-radius: 3px;
        border-width: 1px;
        padding-bottom: 20px;
        margin-left: 35px !important;
        margin-right: 10px !important;
      }
    .center{
        margin-bottom: 20px;
    }
    .signInInputLN-reg{
        width: 170px; 
        height: 40px;
        padding: 12px; 
        margin-bottom: 15px; 
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 0 0 1px black;
        border-color: #ffd679;
        border-radius: 3px;
        border-width: 1px;
        padding-bottom: 20px;
        margin-right: 35px !important;
    }
    .space{
        margin-bottom: 20px !important;
        padding-bottom: 0px;
    }
    .center-message{
        text-align: center;
        margin-bottom:20px;
        font-weight: 600;
    }
    
}

